.heroContainer {
    position: relative;
    backdrop-filter: blur(10px);
}

.heroContainer::before,
.heroContainer::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 500ms;
    width: 100%;
    pointer-events: none;
    z-index: 1; /* behind everything, over base layer */
}

.heroContainer:hover::before,
.heroContainer:hover::after {
    opacity: 1;
}

.heroContainer::before {
    background: radial-gradient(
        800px circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
        rgba(56, 182, 255, 0.04),
        transparent 40%
    );
    z-index: 3;
}

.heroContainer::after {
    background: radial-gradient(
        600px circle at var(--mouse-x, 50%) var(--mouse-y, 50%),
        rgba(25, 118, 210, 0.03),
        transparent 40%
    );
    z-index: 1;
}
