PORT=3030
NODE_ENV=development

# CORS Configuration
CORS_ORIGIN=http://localhost:PORT

FEATURE_FLAGS='[{"feature": "FeatureNames.Feature", "enabled": false}]'

STRAPI_API_HOST="http://localhost:1337"

API_KEYS='["api_key"]'

INITIAL_PATH="path"

EXCLUDED_PARENTS='["Pendientes", "Pendientes de procesamiento", "Anime", "Sandbox"]'

STRAPI_API_KEY='strapi_api_key'