PORT=3030
NODE_ENV=development

# CORS Configuration
CORS_ORIGIN=http://localhost:PORT

FEATURE_FLAGS='[{"feature": "FeatureNames.Feature", "enabled": false}]'

API_KEYS='["api_key"]'

INITIAL_PATH='["path"]'

EXCLUDED_PARENTS='["Pendientes", "Pendientes de procesamiento", "Anime", "Sandbox"]'

STRAPI_API_KEY='strapi_api_key'
STRAPI_REPORTS_API_KEY="strapi_reports_api_key"

STRAPI_BASE_URL="In production you have to specify the where strapi is going to be hosted. Leave this var empty during development in local env."
STRAPI_RESUME_FOLDER_ID="" # ID of the target Media Library folder where resumes should be uploaded

IMAGES_BASE_URL="https://localhost:1337" # The url for strapi without / or /api

SECURE_BASE_PATH='path'

# Connection for MySQL Database
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=johndoe
DB_PASSWORD=randompassword
DB_NAME=mydb


APP_NAME="private_cloud_backend"
LOGS_PATH="path_to_your_logs"
