STRAPI_BASE_URL=http://localhost:1337/api
STRAPI_REGISTER_TOKEN_API_KEY=
NAS_API_KEY=
NAS_BASE_URL=https://localhost:3030
FEATURE_FLAGS='[{"feature": "CONSUME_STRAPI_DATA", "enabled": false}, {"feature": "CONSUME_NAS_FILES", "enabled": false}, {"feature": "ENABLE_USERS_LOGIN", "enabled": false}, {"feature": "ENABLE_USERS_REGISTER", "enabled": false}, {"feature": "LOG_EXTERNAL_HTTP_REQUESTS", "enabled": false}, {"feature": "LOG_INTERNAL_HTTP_REQUESTS", "enabled": false}, {"feature": "LOG_RESPONSE_EXTERNAL_HTTP_REQUEST", "enabled": false}, {"feature": "LOG_RESPONSE_BODY_EXTERNAL_HTTP_REQUEST", "enabled": false}]'

APP_NAME="private_cloud_frontend"
LOGS_PATH="path_to_your_logs"
