HOST=0.0.0.0
PORT=1337
APP_KEYS="APP_KEYS"
API_TOKEN_SALT="salt"
ADMIN_JWT_SECRET="secret"
TRANSFER_TOKEN_SALT="secret_salt"
JWT_SECRET="normal_user_secret"

# Database
DATABASE_CLIENT=mysql
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=db_name
DATABASE_USERNAME=root
DATABASE_PASSWORD=
