NODE_ENV=development

FEATURE_FLAGS='[{"feature": "CONSUME_STRAPI_DATA", "enabled": true}, {"feature": "CONSOLE_LOG_ALL_LAYERS", "enabled": true}]'

STRAPI_BASE_URL="http://localhost:1337/api"

PLATFORM_SERVICE_KEY='your_api_key'
